$vp-intro-content: 1279px;
$vp-intro-inner: 960px; // innerコンテナの幅
$vp-intro-movie: 800px; // メインイメージの最大幅
$vp-changeNavi: 720px; // ナビをハンバーガーに格納
$vp-intro-chat: 420px; // チャット部品が破綻するサイズ
$vp-s: 640px;

@mixin mq($vp) {
  @media (max-width: ($vp)) {
    @content;
  }
}

@mixin mqh($vph) {
  @media screen and (max-height: ($vph)) {
    @content;
  }
}
