// element
@mixin button-default($buttonColor) {
  display: block;
  width: 100%;
  height: 44px;
  padding: 0 10px;
  background-color: $buttonColor;
  font-size: 1.5rem;
  color: #fff;
  line-height: 44px;
  text-align: center;
  box-shadow: 0px 2px 4px $color-shadow, inset 0px 1px 2px $color-reflectShadow, inset 0px -2px 2px $color-shadow;
  border-radius: 3px;
  cursor: pointer;

  @include mq($vp-s) {
    height: 32px;
    padding: 0 4px;
    font-size: 1.2rem;
    line-height: 32px;
  }

  &:hover {
    background-color: darken($buttonColor, 10%);
    box-shadow: $shadow-petitReverse;
  }
}

// 画像置換
@mixin image-replacement($w, $h, $img, $posX, $posY) {
  width: $w;
  height: $h;
  background: url($img) no-repeat center center;
  background-position: $posX $posY;
  font-size: 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

// placeholder
@mixin customPlaceholder($fz:1.2rem, $color:#ccc) {
  &:placeholder-shown {
    font-size: $fz;
    color: $color;
  }
  &::-webkit-input-placeholder {
    font-size: $fz;
    color: $color;
  }
  &::-moz-placeholder {
    font-size: $fz;
    color: $color;
  }
  &:-ms-input-placeholder {
    font-size: $fz;
    color: $color;
  }
}