@import '../../../styles/media-queries.scss';
@import '../../../styles/layout.scss';

.libraryContent {
  padding: 64px 0;
  overflow-x: hidden;
}

.inner {
  @include layout-maxContent;

  & + & {
    margin-top: 128px;
  }
}

.label {
  margin-bottom: 64px;
  font-size: 3.2rem;

  @include mq($vp-s) {
    margin-bottom: 32px;
    font-size: 2.4rem;
  }
}

.posts {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0 -18px; // 投稿のマージンをかわす

  @include mq($vp-s) {
    margin: 0;
  }
}
